.project-edit-card
    width: 80%
    display: flex
    min-height: 700px

    .project-edit-card2
        padding: 2em 5em
        position: relative

    .editMessageSucess
        width: 195px
        height: 50px
        position: absolute
        display: flex
        margin-left: 50% 
        padding: 10px 20px
        color: #155724
        background-color: #d4edda
        border-color: #c3ebcb

    .service-form-container 
        margin-top: 2em
        border: 1px solid
        width: 80%
        border-bottom: 1px solid #7a7a7a
        margin-bottom: 1.2em
        padding-bottom: 1.2em
        display: flex
        flex-direction: column
        justify-content: space-between
        flex-wrap: wrap

    .services
        display: flex
        flex-wrap: wrap

    .errorServiceMSG
        color: #721c24
        background-color: #f8d7da
        border-color: #f5c6cb
        padding: 1em
        margin: 0 auto
        text-align: center
        margin-bottom: 2em
        border-radius: 5px
        height: 70px

    .title
        background-color: #000
        color: #fb3
        width: 100%
        padding: 10px 20px 10px 20px
        font-size: 4em

    h1
        width: 100%
        padding: 10px 20px 10px 20px
        font-size: 2em

    p
        margin-top: .5em
        margin-bottom: .5em
        font-size: 1.2em

    span
        font-weight: 900

    .add-service-btn-style
        background-color: #000
        color: #fb3
        padding: 10px
        transition: .5s

        &:hover
            background-color: #fff

    .services
        display: flex
        flex-direction: row
        justify-content: center
        flex-wrap: wrap
        width: 80vh

@media (max-width: 900px)
    .project-edit-card
        background-color: #fff

        .project-edit-card2
            border: 1px solid
            width: 300px

        .title
            font-size: 1.5em

        .service-form-container
            width: 200px

        .services
            width: 200px
            display: flex
            flex-direction: column